<div class="statistics">
	<p>The possibility of getting statistics is in development now.</p>

	<!--&lt;!&ndash;Starts on&ndash;&gt;-->
	<!--<div class="row">-->
		<!--<div class="col-xs-12 col-sm-6 col-lg-3">-->
			<!-- -->

			<!--<p>Start date: </p>-->

			<!--<div class="calendar">-->
				<!--<a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">-->
					<!--<div class="input-group">-->
						<!--<input type="text" class="form-control"-->
							   <!--ng-value="statistics.statisticsModel.startDate | date: 'MMM d, y'"-->
							   <!--placeholder="click to add date"-->
							   <!--disabled>-->
							<!--<span class="input-group-addon addon-calendar">-->
								<!--<i class="fa fa-calendar"></i>-->
							<!--</span>-->
					<!--</div>-->
				<!--</a>-->

				<!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
					<!--<datetimepicker ng-model="statistics.statisticsModel.startDate"-->
									<!--data-datetimepicker-config="{ dropdownSelector: '#dropdown1', minuteStep: 15 }"></datetimepicker>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--&lt;!&ndash;Ends on&ndash;&gt;-->
	<!--<div class="row top-mg-25">-->
		<!--<div class="col-xs-12 col-sm-6 col-lg-3">-->
			<!--<p>End date: </p>-->

			<!--<div class="calendar">-->
				<!--<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">-->
					<!--<div class="input-group">-->
						<!--<input type="text" class="form-control"-->
							   <!--ng-value="statistics.statisticsModel.endDate | date: 'MMM d, y'"-->
							   <!--placeholder="click to add date"-->
							   <!--disabled>-->
							<!--<span class="input-group-addon addon-calendar">-->
								<!--<i class="fa fa-calendar"></i>-->
							<!--</span>-->
					<!--</div>-->
				<!--</a>-->

				<!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
					<!--<datetimepicker ng-model="statistics.statisticsModel.endDate"-->
									<!--data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minuteStep: 15 }"></datetimepicker>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--&lt;!&ndash;Select type&ndash;&gt;-->
	<!--<div class="row top-mg-25">-->
		<!--<div class="col-xs-12">-->
			<!--<p>Select type: </p>-->

			<!--<div class="segmented-picker">-->
				<!--<div class="btn-group">-->
					<!--<label class="btn btn-default segmented-button segmented-button-left"-->
						   <!--ng-model="statistics.statisticsType" uib-btn-radio="0">Training</label>-->
					<!--<label class="btn btn-default segmented-button segmented-button-right"-->
						   <!--ng-model="statistics.statisticsType" uib-btn-radio="1">User</label>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--&lt;!&ndash;Select training&ndash;&gt;-->
	<!--<div class="row top-mg-25" ng-if="statistics.statisticsType == 0">-->
		<!--<div class="col-xs-12">-->
			<!--<span class="pull-left right-mg-10">Select training: </span>-->

			<!--<div class="dropdown pull-left">-->
				<!--<p class="dropdown-toggle" type="button" id="trainingPopover"-->
				   <!--popover-placement="bottom" popover-trigger="click"-->
				   <!--uib-popover-template="'app/page.admin/admin.popovers/trainingPopover.html'">-->
					<!--<a href="">select</a>-->
				<!--</p>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--&lt;!&ndash;Select user&ndash;&gt;-->
	<!--<div class="row top-mg-25" ng-if="statistics.statisticsType == 1">-->
		<!--<div class="col-xs-12">-->
			<!--<span class="pull-left right-mg-10">Select user: </span>-->

			<!--<div class="dropdown pull-left">-->
				<!--<p class="dropdown-toggle" type="button" id="userPopover"-->
				   <!--popover-placement="bottom" popover-trigger="click"-->
				   <!--uib-popover-template="'app/page.admin/admin.popovers/userPopover.html'">-->
					<!--<a href="">select</a>-->
				<!--</p>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!--<div class="row top-mg-25">-->
		<!--<div class="col-xs-12 col-sm-3">-->
			<!--<a id="statDownload" href="" class="btn default-btn-blue" ng-click="statistics.downloadStatistics"><i-->
				<!--class="fa fa-download"></i>Download statistics</a>-->
		<!--</div>-->
	<!--</div>-->

</div>