<div class="container managecourse">

    <div class="row">
        <h1>.....</h1>
    </div>
    <div class="row">
        <a ng-if="!isEdited" href="" class="left button round default-btn-blue" ng-click="managecourse.createCourse()">Create
            course</a>
        <a ng-if="managecourse.isAdmin() && isEdited" href="" class="left button round default-btn-green" ng-disabled="courseForm.$invalid"
           ng-click="managecourse.approveCourse()">Approve course</a>
    </div>

    <form name="courseForm">
        <div ui-view></div>
    </form>


</div>
