<div class="participants">
    <div ng-class="{'waiting-for-angular': !participants.isContentLoaded }">
        <div class="row">
            <div class="col-xs-12 col-md-11">

                <h4 class="tab-heading">Participants</h4>
                <a ng-if="courseinfo.isAdmin()" class="btn default-btn-blue bottom-mg-25" data-toggle="modal"
                   data-target="#addParticipantModal" ng-click="participants.clearInfo()"><i class="fa fa-plus"></i>Add
                    participant</a>

                <div class="scrollable-div">

                    <table ng-if="courseInfo.participantsList.length != 0" class="table fullwidth-table">
                        <!--ng-show="courseInfo.participantsList.length != 0"-->
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th ng-if="courseinfo.isAdmin()"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="participant in courseInfo.participantsList track by $index"
                            class="rowWithSecret">
                            <td>{{$index + 1}}</td>
                            <td><a href="" ui-sref="profile({userId: participant.userId})">{{participant.username}}</a>
                            </td>
                            <td>{{participant.email}}</td>
                            <td><a ng-if="courseInfo.isCoach" href="" data-toggle="modal"
                                   data-target="#addFeedbackModal" ng-click="participants.getUserId($index)">Leave
                                feedback</a></td>
                            <td ng-if="courseinfo.isAdmin()" class="hiddenCell"
                                ng-click="participants.deleteParticipant($index)"><i class="fa fa-times"></i></td>
                        </tr>
                        </tbody>
                    </table>
                    <p ng-if="courseInfo.participantsList.length == 0">Nobody subscribed yet</p>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Modal to add external user-->
<div class="participants modal fade validation" id="addParticipantModal" tabindex="-1" role="dialog"
     aria-labelledby="addTitle">
    <form class="modal-dialog form-inline" name="participantForm" novalidate role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addTitle">Add participant</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label>First Name:</label>
                        <input type="text" name="firstName" class="form-control" placeholder="click to enter"
                               ng-model="participants.participantInfo.firstName" required>
                            <span ng-show="participantForm.firstName.$invalid && participantForm.firstName.$touched"
                                  class="badge invalid-form"
                                  uib-tooltip="This field is required"
                                  tooltip-trigger="mouseenter"
                                  tooltip-placement="bottom">
                                <i class="fa fa-exclamation-circle"></i>
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label>Last Name:</label>
                        <input type="text" name="lastName" class="form-control" placeholder="click to enter"
                               ng-model="participants.participantInfo.lastName" required>
                            <span ng-show="participantForm.lastName.$invalid && participantForm.lastName.$touched"
                                  class="badge invalid-form"
                                  uib-tooltip="This field is required"
                                  tooltip-trigger="mouseenter"
                                  tooltip-placement="bottom">
                                <i class="fa fa-exclamation-circle"></i>
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label>Email:</label>
                        <input type="email" name="email" class="form-control" placeholder="click to enter"
                               ng-model="participants.participantInfo.email" required>
                            <span ng-show="participantForm.email.$invalid && participantForm.email.$touched"
                                  class="badge invalid-form"
                                  uib-tooltip="This field is required and it must be valid email"
                                  tooltip-trigger="mouseenter"
                                  tooltip-placement="bottom">
                                <i class="fa fa-exclamation-circle"></i>
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label>Phone number:</label>
                        <input type="text" class="form-control" placeholder="+375(**) *******"
                               ng-model="participants.participantInfo.phone">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button href="" class="btn default-btn" data-dismiss="modal">Cancel</button>
                <span class="invalid-form no-arrow"
                      uib-tooltip="check your fields, they're not entirely correct"
                      tooltip-trigger="mouseenter" tooltip-enable="participantForm.$invalid"
                      tooltip-placement="top">
                    <button href="" class="btn default-btn-blue" data-dismiss="modal"
                            ng-click="participants.addParticipant()" ng-disabled="participantForm.$invalid">OK
                    </button>
                </span>
            </div>
        </div>
    </form>
</div>

<!--Modal to add feedback-->
<div class="participants modal fade" id="addFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="fbTitle">
    <form class="modal-dialog form-inline" name="feedbackForm" role="document" novalidate>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="fbTitle">Add feedback</h4>
            </div>
            <div class="modal-body override-inline">
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" id="attendance" ng-model="participants.fbInfo.attendance"><label
                            for="attendance">Did the student attend the lectures?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" id="attitude" ng-model="participants.fbInfo.attitude"><label
                            for="attitude">Was the student willing to learn?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" id="commSkills" ng-model="participants.fbInfo.commSkills"><label
                            for="commSkills">Was the student communicative?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" id="questions" ng-model="participants.fbInfo.questions"><label
                            for="questions">Was the student asking questions?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" id="motivation" ng-model="participants.fbInfo.motivation"><label
                            for="motivation">Was the student motivated?</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input type="checkbox" id="focusOnResult" ng-model="participants.fbInfo.focusOnResult"><label
                            for=focusOnResult>Was the student focused on result?</label>
                    </div>
                </div>
                <div class="row top-mg-15">
                    <div class="col-xs-12">
                        <p><label>Anything else?</label></p>
                        <textarea type="text" class="material-input" name="other"
                                  placeholder="Do you have something else to say?" ng-model="participants.fbInfo.other"
                                  ng-maxlength="10000"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button href="" class="btn default-btn" data-dismiss="modal">Cancel</button>
                <button href="" class="btn default-btn-blue" data-dismiss="modal"
                        ng-click="participants.addFeedbackOnUser()">OK
                </button>
            </div>
        </div>
    </form>
</div>