@font-face {
  font-family: Merriweather;
  src: url('assets/fonts/merriweather/Merriweather Light.ttf');
}

$tre-font-family: Merriweather;
$tre-header-font: 'Open Sans', sans-serif;
$text-color: rgba(0, 0, 0, 0.6);
$tre-light-blue: #55acee;
$tre-hover-blue: #25709D;

$btn-blue: #55acee;
$btn-blue-border: #55a4e6;
$btn-blue-hover: #2D88BF;
$btn-blue-border-hover: #2c83b8;
$btn-blue-accent: rgb(0, 109, 170);

$btn-green: #57ad68;
$btn-green-border: #a9d8b2;
$btn-green-hover: #468c54;
$btn-green-border-hover: $btn-green;
$btn-green-accent: #8dc540;
$btn-green-accent-hover: #7fb239;

$btn-red: #ef3e36;
$btn-red-border: $btn-red;
$btn-red-hover: #a1161b;
$btn-red-border-hover: $btn-red-hover;

$btn-gray: rgba(0,0,0,0.5);
$btn-gray-border: rgba(0,0,0,0.15);
$btn-gray-hover: rgba(0, 0, 0, 0.6);
$btn-gray-border-hover: rgba(0, 0, 0, 0.3);


$fa-font-path: "../../bower_components/font-awesome/fonts";
@import '../../src/app/index.customize';

@import '../../bower_components/font-awesome/scss/font-awesome.scss';
//@import '../../bower_components/bootstrap/dist/css/bootstrap.min.css';


/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html {
  height: 100% !important;
}

body {
  font-family: $tre-font-family;
  color: $text-color;
  height: 100% !important;

  h1 {
    color: black !important;
  }

  a {
    color: $tre-light-blue;
    font-weight: 200;
  }

  a:hover{
    color: $tre-hover-blue;
    text-decoration: none;
  }

}

.form-control {
  border: none !important;
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.bordered-input {
    background-color: white !important;
    border: 1px solid rgba(0,0,0,0.10) !important;
    cursor: auto !important;
}

.bordered-input[disabled] {
  cursor: pointer;
}

///// UTILITY CLASSES /////

.inline {
  display: inline !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-side-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.fullwidth-table {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.scrollable-div {
  max-height: 400px;
  overflow: auto;
}

.bottom-mg-10 {
  margin-bottom: 10px;
}

.bottom-mg-25 {
  margin-bottom: 25px;
}

.bottom-mg-50 {
  margin-bottom: 50px;
}


.top-mg-15 {
  margin-top: 15px;
}

.top-mg-25 {
  margin-top: 25px;
}

.right-mg-10 {
  margin-right: 10px;
}


.link-select {
  margin-left: 5px;
  border: none !important;
  box-shadow: none !important;
}

.link-select:hover {
  border: none !important;
  box-shadow: none !important;
}

.invalid-form {
  font-size: 14px;
  color: #ff2631;
  background-color: transparent;

  .fa {
    color: #ff2631 !important;
  }
}

.form-inline {
  .override-inline {
    .bordered-input, .material-input {
      width: 100% !important;
      display: block !important;
    }
  }
}

.remove-inline {
  .form-control {
    width: auto !important;
  }
}

/*VALIDATION*/

.validation {
  /* HELPER TOOLTIPS */
  .material-input + .tooltip > .tooltip-inner {
    color: $text-color;
    background-color: #E7E7E7;
  }
  .material-input + .tooltip > .tooltip-arrow {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  /* INVALID TOOLTIPS */
  .invalid-form + .tooltip > .tooltip-inner {
    color: white;
    background-color: #ff2631;
  }
  .invalid-form + .tooltip > .tooltip-arrow {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  .no-arrow + .tooltip > .tooltip-arrow {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

///////////////////////////


.material-input {
  border: none;
  background: white !important;
}

.material-input:focus, .material-input:valid {
  box-shadow: none;
  outline: none;
}

///////////////////////////

.modal {
  .modal-title {
    font-weight: bold;
  }

  .modal-header {
    border: none ;
  }

  .modal-content {
    border: none !important;
  }

  .modal-footer {
    border: none;
  }
}


textarea {
  resize: none;
}

.waiting-for-angular {
  //display: block;
  background: url(assets/images/loader.svg) no-repeat center center ;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;

  margin: -22px 0 0 -22px;
  //width: 100%;
  //height: 100%;

}

table {
  tr.rowWithSecret:hover {
    background-color: #f9f9f9;
  }

  tr.rowWithSecret {
    .hiddenCell {
      visibility: hidden;
    }
  }
  tr.rowWithSecret:hover {
    background-color: #f9f9f9;
    .hiddenCell {
      visibility: visible;
    }
  }

  .hiddenCell .fa-times {
    color: #ef3e36 !important;
  }

  .hiddenCell .fa-times:hover {
    color: #a1161b !important;
    cursor: pointer;
  }
}

.fa {
  margin-right: 0.5rem;
}

.error {
  color: red !important;
}

.container {
  margin-top: 2rem;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}

.nested-view {
  margin: 0.5em;
}

.tab-heading {
  font-weight: bold;
  margin-bottom: 20px;
}

/* ICON BAR */

.icon-bar {
  color: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.08);
  background-color: rgba(0,0,0,0.015);
  //font-size: 17px;

  .item {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    a {
      color: rgba(0,0,0,0.6);
    }

    .fa {
      //font-size: 27px;
    }
  }

  .item:hover {
    cursor: pointer;
    label, .fa {
      color: rgba(0,0,0,0.72);
      cursor: pointer;
    }

  }
}

/////////////////////////

/* BUTTONS*/

.tre-btn {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 24px;
  box-shadow: none !important;
  outline: none !important;
  background-color: $white;
}

.default-btn {
  @extend .tre-btn;
  color: $btn-gray;
  border-color: $btn-gray-border;
}

.default-btn:hover {
  color: $btn-gray-hover;
  border-color: $btn-gray-border-hover;
}

.accent-btn {
  @extend .tre-btn;
}

.default-btn-blue {
  @extend .default-btn;
  color: $btn-blue;
  border-color: $btn-blue-border;
  background-color: $white;
}

.default-btn-blue:hover {
  color: $btn-blue-hover;
  border-color: $btn-blue-border-hover;
  background-color: $white;
}

.default-btn-blue {
  @extend .default-btn;
  color: $btn-blue;
  border-color: $btn-blue-border;
  background-color: $white;
}

.default-btn-blue:hover {
  color: $btn-blue-hover;
  border-color: $btn-blue-border-hover;
  background-color: $white;
}

.default-btn-green {
  @extend .default-btn;
  color: $btn-green;
  border-color: $btn-green-border;
  background-color: $white;
}

.default-btn-green:hover {
  color: $btn-green-hover;
  border-color: $btn-green-border-hover;
  background-color: $white;
}

.default-btn-red {
  @extend .default-btn;
  color: $btn-red;
  border-color: $btn-red-border;
  background-color: $white;
}

.default-btn-red:hover {
  color: $btn-red-hover;
  border-color: $btn-red-border-hover;
  background-color: $white;
}

.accent-btn-blue {
  @extend .accent-btn;
  color: white !important;
  background-color: $btn-blue !important;
  border-color: $btn-blue !important;
}

.accent-btn-blue:hover {
  color: white !important;
  background-color: $btn-blue-accent !important;
  border-color: $btn-blue-accent !important;
}

.accent-btn-green {
  @extend .accent-btn;
  color: white !important;
  background-color: $btn-green-accent !important;
  border-color: $btn-green-accent !important;
}

.accent-btn-green:hover {
  color: white !important;
  background-color: $btn-green-accent-hover !important;
  border-color: $btn-green-accent-hover !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
  font-size: 0.95rem;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/*TAGS*/
.tag-container {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px !important;
  border: 1px solid rgba(0,0,0,0.08);
  background-color: rgba(0,0,0,0.015);

  .tag {
    color: rgba(0,0,0,0.6);
    background-color: rgba(255,255,255,0.8);
    border-color: rgba(0,0,0,0.10);

    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;

    .hidden-icon {
      visibility: hidden;
    }
  }

  .tag:hover {
    color: rgba(0,0,0,0.9);
    background-color: rgba(255,255,255,0.8);
    border-color: rgba(0,0,0,0.25);

    .hiddden-icon {
      visiblity: visible;
    }
  }

  .selected {
    color: rgba(0,0,0,0.9);
    background-color: rgba(255,255,255,0.6);
    border-color: rgba(0,0,0,0.2);
  }

  .tags-title {
    font-family: $tre-header-font;
    font-weight: 500;
    color: rgba(0,0,0,0.7);
    letter-spacing: 1.1px;

    padding-left: 3px;
  }
}

.calendar {
  width: 230px !important;
  min-width: 200px;
  float: left;
  border: none !important;

  input {
    background-color: white !important;
    border: 1px solid rgba(0,0,0,0.10) !important;
    cursor: pointer !important;
  }

  input[disabled] {
    cursor: pointer !important;
  }

  .addon-calendar {
    padding-right: 4px !important;
    background-color: white !important;
    border: 1px solid rgba(0,0,0,0.10) !important;
    font-size: 18px !important;
    box-shadow: none !important;
  }
}

.segmented-picker {
  align-content: center;
  width: 240px;
  margin: auto;

  .segmented-button {
    color: rgba(0,0,0,0.7);
    width: 80px;
    height: 36px;
    background-color: white!important;
    box-shadow: none !important;
    border-color: #ccc !important;
  }

  .segmented-button.active {
    background-color: #f4f4f4 !important;
    color: black !important;
    font-weight: 300;
  }

  .segmented-button-left {
    border-radius: 20px 0px 0px 20px;
  }

  .segmented-button-right {
    border-radius: 0px 20px 20px 0px;
  }
}

.router-tabs {
  background-color: white !important;
  border-bottom: solid 1px $border-gray;

  .activelink {
    a {
      color: rgba(0,0,0,0.9);
      background-color: white !important;
      border-bottom: 2px solid rgba(0,0,0,0.9) !important;
    }

    a:hover {
      background-color: white !important;
    }
  }

  a, .fa {
    color: rgba(0,0,0,0.6);
  }

  a:hover, .fa:hover {
    color: rgba(0,0,0,0.72);
    background-color: white !important;
  }

}

.popover {
  width: 200px;
}

.popover-container {
  width: auto;
  max-width: 300px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;

  hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
