<div class="step1">

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1">

            <div class="row">
                <div class="col-xs-12">
                    <p>Title:</p>
                        <input type="text" name="title" placeholder="title" ng-model="courseInfo.title" ng-maxlength="50" required>
                    <small ng-show="courseForm.title.$invalid && courseForm.title.$touched" class="error">This field is required.</small>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>Short description</p>
                        <textarea type="text" name="shortInfo" placeholder="short description" ng-model="courseInfo.shortInfo" ng-maxlength="255" required></textarea>
                    <small ng-show="courseForm.shortInfo.$invalid && courseForm.shortInfo.$touched" class="error">This field is required.</small>
                </div>
            </div>

            <!--CHANGE THIS-->
            <div ng-show="managecourse.isAdmin()">
                <a href="" data-dropdown="coachDropdown" data-options="is_hover:true; hover_timeout:500">Choose existing coach</a>

                <ul id="coachDropdown" class="f-dropdown" data-dropdown-content>
                    <li><a href="" ng-click="step1.setMyselfAsCoach()">me</a></li>
                    <li ng-repeat="coach in step1.exCoachList track by $index">
                        <a href="" ng-click="step1.setExCoach($index)">{{coach.username}}</a>
                    </li>
                </ul>

            </div>
            <a class="btn default-btn-blue" data-toggle="modal" data-target="#addExCoachModal"><i class="fa fa-plus"></i>Add external coach</a>
        </div>
        <div class="col-xs-1"><a ui-sref="step2">Next</a></div>

    </div>

</div>

<!--Modal to add external coach-->
<div class="modal fade" id="addExCoachModal" tabindex="-1" role="dialog" aria-labelledby="coachTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="coachTitle">Add external coach</h4>
            </div>
            <div class="modal-body">
                <form name="coachForm" novalidate>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-left-padding">
                            <label>First Name:</label>
                            <input type='text' name="firstName" ng-model="step1.coachInfo.firstName" required>
                            <small ng-show="coachForm.firstName.$invalid && coachForm.firstName.$touched" class="error">This
                                field is required.
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-left-padding">
                            <label>Last Name:</label>
                            <input type='text' name="lastName" ng-model="step1.coachInfo.lastName" required>
                            <small ng-show="coachForm.lastName.$invalid && coachForm.lastName.$touched" class="error">This
                                field is required.
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-left-padding">
                            <label>Email:</label>
                            <input type='email' name="email" ng-model="step1.coachInfo.email" required>
                            <small ng-show="coachForm.email.$invalid && coachForm.email.$touched" class="error">This
                                field is required.
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-left-padding">
                            <label>Phone number:</label>
                            <input type='text' ng-model="step1.coachInfo.phone">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button href="" class="btn default-btn" data-dismiss="modal">Cancel</button>
                <button href="" class="btn default-btn-blue" data-dismiss="modal" ng-disabled="coachForm.$invalid"
                        ng-click="step1.addExCoach()">OK
                </button>
            </div>
        </div>
    </div>
</div>