<div class="attachments">
    <div class="row">
        <div class="small-12 medium-8 large-8 column">

            <h5>Attachments</h5>

            <a class="button round tiny default-btn-blue" data-reveal-id="uploadModal">Add files</a>

            <div class="scrollable-div">

                <table ng-show="courseInfo.files.length != 0" class="fullwidth-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Filename</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]">
                        <td>No</td>
                        <td>Some file</td>
                    </tr>
                    </tbody>
                </table>
                <p ng-show="courseInfo.files.length == 0">No files attached yet</p>
            </div>

        </div>
    </div>
</div>

<div class="tre-modal">
    <div id="uploadModal" class="reveal-modal small" data-reveal aria-labelledby="addTitle" aria-hidden="true"
         role="dialog">
        <h2 id="addTitle">Upload files</h2>

        <div class="row" ng-controller="FileUploadController as upload">
            <div class="small-12 medium-6 no-left-padding column">
                <button class="button round tiny btn-file default-btn-blue" id="uploadFileBtn">
                    <i class="fa fa-plus"></i> Add file
                    <input type="file" ng-file-select="upload.onFileSelect($files)">
                </button>
            </div>
        </div>

        <div class="scrollable-div">
            <table ng-if="filesToUpload.length != 0">
                <tr ng-repeat="file in filesToUpload" class="rowWithSecret">
                    <td>{{file.name}}</td>
                    <td class="hiddenCell" ng-click="deleteFile($index)"><i class="fa fa-times"></i></td>
                </tr>
            </table>
            <p ng-if="filesToUpload.length == 0">No files uploaded yet</p>
        </div>

        <div class="row">
            <a href="#" class="right button round tiny default-btn-blue" close-modal="uploadModal"
               ng-click="attachments.uploadFiles()">OK</a>
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>