.profile {
  $left-pd: 3rem;
  $right-pd: 3rem;

  .profile-short {
    margin-bottom: 2rem;

    .title {
      margin-bottom: 1.8rem;
    }

    .short-desc {
      margin-bottom: 1.5rem;
    }

    .field {
      color: $black;

      .info {
        color: $text-color;
      }

    }

    .field, .info {
      margin-bottom: 0.5rem;
    }

  }

  .icon-bar.large-vertical {
    float: right;
  }

  .icon-bar {
    .item {
      padding-left: $left-pd;
      padding-right: $right-pd;
    }
  }

}