@mixin card-transition($ms) {
  -webkit-transition: all $ms;
  -moz-transition: all $ms;
  transition: all $ms;
}

@mixin box-shadow($bshadow1, $bshadow2) {
  -webkit-box-shadow: $bshadow1, $bshadow2;
  box-shadow: $bshadow1, $bshadow2;
}

@mixin transform($transformY) {
  -webkit-transform: translateY($transformY);
  -moz-transform: translateY($transformY);
  transform: translateY($transformY);
}

$light-border-color: rgba(0, 0, 0, 0.12);
$dark-border-color: rgba(0, 0, 0, 0.40);

.mycourses {

  .card {

    .card-bg {
      padding-top: rem-calc(30);
      padding-bottom: rem-calc(15);
      padding-left: rem-calc(25);
      padding-right: rem-calc(15);

      cursor: pointer;
      @include card-transition(250ms);
      @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));

      .course-title {
        color: black;
      }

      .course-excerpt {
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(30);
      }

      .info {
        margin-bottom: 0;
      }
    }

    .card-bg:hover {
      @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23));
      @include transform(-5px);
    }
  }

}

.tools-header {

  margin-bottom: rem-calc(25) !important;

  $segment-height: 44px;

  .segmented-tool {
    $segmented-button-width: 7rem;

    width: $segmented-button-width*3;
    margin: auto;

    .tool-label {
      background-color: $white !important;
      color: $text-color !important;
      border: 1px solid $light-border-color !important;
    }

    .tool-label:hover {
      background-color: $white !important;
      color: $text-color !important;
      border: 1px solid $dark-border-color !important;
    }

    input[data-toggle] {
      display: none;
      background-color: $white;
      color: $text-color;
    }
    input[data-toggle]:checked + label,
    input[data-toggle]:checked + label:active {
      background-color: white;
      color: $text-color !important;
      border: 1px solid $dark-border-color !important;
    }

    .button {
      margin: 0;
      width: $segmented-button-width;
      height: $segment-height;
    }
    //.button-group.toggle li:not(first-child) {
    //  margin: 0 -0.9rem;
    //}
  }
  .search-tool {
    input {
      height: $segment-height;
      margin: 0;
      padding-left: 30px;
    }
    i {
      position: absolute;
      top: 14px;
      left: 10px;
      color: $white;
    }
  }
}

