<div class="container">

    <a ui-sref="courseinfo">courseinfo</a>
    <a ui-sref="managecourse.step1">create course!</a>
    <a ui-sref="admin">admin page</a>

    <div class="tools-header row">
        <div class="medium-6 medium-offset-3  hide-for-small-only columns">


            <ul class="segmented-tool button-group  toggle" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="r1" ng-model="mycourses.filter.isCoach" value="" data-toggle="button">
                    <label class="button small secondary " for="r1">All</label>
                </li>
                <li>
                    <input type="radio" id="r2" ng-model="mycourses.filter.isCoach" value=false data-toggle="button">
                    <label class="button small secondary " for="r2">Student</label>
                </li>
                <li>
                    <input type="radio" id="r3" ng-model="mycourses.filter.isCoach" value=true data-toggle="button">
                    <label class="button small secondary" for="r3">Coach</label>
                </li>
            </ul>

        </div>
        <div class="medium-3 small-12  columns">
            <form>
                <div class="row collapse  search-tool">
                    <div class="small-12 columns">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Quick Look" ng-model="mycourses.filter.search">
                    </div>
                </div>
            </form>

        </div>

    </div>

    <section class="course-list row">
        <div class="course-item column" ng-repeat="course in mycourses.userCourses">
            <h1 class="course-title">{{course.trainingTitle}}</h1>

            <h2 class="course-lesson-number">Lesson #{{course.nextLesson}}</h2>

            <p class="course-excerpt">{{course.shortInfo}}</p>

            <div class="course-meta">
                <h3 class="course-date">When: <span class="value">{{course.nextDate}}</span></h3>

                <h3 class="course-place">Where: <span class="value">{{course.nextPlace}}</span></h3>

                <h3 class="course-coach">Who: <span class="value">{{course.coachName}}</span></h3>
                <a class="course-goto"><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>

    </section>


</div>