<!--ng-class="{'waiting-for-angular': !mycourses.isContentLoaded }"-->
<div class="container">
	<div class="row">
		<div class="small-12 medium-9 medium-centered column">
			<div class="mycourses">
				<div class="tools-header row">
					<div class="small-12 medium-4 medium-centered column">
						<div class="row">
							<div class="small-9 column">
								<ul class="segmented-tool button-group toggle" data-toggle="buttons-radio">
									<li>
										<input type="radio" id="r1" ng-model="mycourses.filter.isCoach" value=""
											   data-toggle="button">
										<label class="button small tool-label" for="r1">All</label>
									</li>
									<li>
										<input type="radio" id="r2" ng-model="mycourses.filter.isCoach" value=false
											   data-toggle="button">
										<label class="button small tool-label" for="r2">Student</label>
									</li>
									<li>
										<input type="radio" id="r3" ng-model="mycourses.filter.isCoach" value=true
											   data-toggle="button">
										<label class="button small tool-label" for="r3">Coach</label>
									</li>
								</ul>
							</div>

							<!--all page was designed horribly, can do nothing about it-->
							<!--<div class="small-3 column">-->
								<!--<i class="fa fa-search"></i>-->
								<!--<input type="text" placeholder="Quick Look" ng-model="mycourses.filter.search">-->
							<!--</div>-->
						</div>
					</div>

				</div>

				<section class="row">
					<div class="small-12 medium-6 column card"
						 ng-repeat="course in mycourses.userCourses | filter:{isCoach: mycourses.filter.isCoach}">
						<div class="card-bg" ui-sref="courseinfo({courseId: course.id})">
							<h1 class="course-title"><a ui-sref="courseinfo({courseId: course.id})">{{course.title}}</a>
							</h1>

							<!-- it is not returned -->
							<!--<h2 class="course-lesson-number">Lesson #{{course.nextLesson}}</h2>-->

							<p class="course-excerpt">{{course.excerpt}}</p>

							<p>Coach: <a ui-sref="profile({userId: course.coachId})"
										 class="value">{{course.coachName}}</a></p>

							<p class="info"><i class="fa fa-clock-o"></i> <span class="value">{{course.nextDate | date: "MMM d, y h:mm a"}}</span>
							</p>

							<p class="info"><i class="fa fa-map-marker"></i> <span
								class="value">{{course.nextPlace}}</span></p>


						</div>
					</div>

				</section>
			</div>
		</div>

	</div>

</div>