.dates {
  .segmented-picker {
    align-content: left;
    width: auto;
    margin: 0;
  }

  #addDateBtn {
    margin-left: 10px !important;
  }

  table {
    margin-top: 15px;

    tr {
      padding-bottom: 20px !important;
    }
  }
}