<div class="approval">
    <div ng-class="{'waiting-for-angular': !approval.isContentLoaded }">
        <div class="row">
            <div class="col-xs-12">

                <div ng-if="approval.approveList.length != 0" class="scrollable-div">

                    <div class="approve-item" ng-repeat="item in approval.approveList track by $index">
                        <p><span><a ui-sref="profile({userId: item.coachId})">{{item.coachName}}</a>
						{{approval.makeText(item.type, item.tableName)}} <a href=""
                                                                            ui-sref="courseinfo({courseId: item.trainingId})">{{item.trainingTitle}}</a></span>
                            <a href="" ng-click="approval.seeDetails(item)"><span class="pull-right see-details"><i
                                    class="fa fa-eye"></i></span></a>
                        </p>

                        <p class="top-mg-25"><i class="fa fa-clock-o"></i> {{item.date | date: "MMM d, y h:mm a"}}</p>
                    </div>

                </div>
                <p ng-if="approval.approveList.length == 0">You have nothing to approve.</p>

            </div>
        </div>
    </div>
</div>

<!--Delete training modal-->
<div class="modal fade" id="deleteTrainingModal" tabindex="-1" role="dialog" aria-labelledby="deleteTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Can {{approval.coachNameToApprove}} delete his training
                            <a ui-sref="courseinfo({courseId: approval.trainingIdToApprove})">{{approval.trainingNameToApprove}}</a>?
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button href="" class="btn default-btn pull-left" data-dismiss="modal">Cancel</button>
                <button href="" class="btn default-btn-red" data-dismiss="modal"
                        ng-click="approval.cancelDeleteCourse()">No
                </button>
                <button href="" class="btn default-btn-green" data-dismiss="modal"
                        ng-click="approval.deleteCourse()">Yes
                </button>
            </div>
        </div>
    </div>
</div>

<!--Create lesson modal-->
<div class="modal fade" id="addLessonModal" tabindex="-1" role="dialog" aria-labelledby="addTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addTitle"></h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12">
                        <p>Can {{approval.coachNameToApprove}} add lesson to his training <a
                                ui-sref="courseinfo({courseId: approval.trainingIdToApprove})">{{approval.trainingNameToApprove}}</a>?
                        </p>

                        <p>If you agree, please specify a place for the lesson.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <p>Date: </p>
                        <input type="text" class="form-control bordered-input"
                               ng-value="approval.lessonToApprove.newDate | date: 'MMM d, y h:mm a'" disabled>
                    </div>
                    <div class="col-xs-6">
                        <p>Place: </p>
                        <input type="text" class="form-control bordered-input" placeholder="please, specify it"
                               ng-model="approval.lessonToApprove.newPlace">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button href="" class="btn default-btn pull-left" data-dismiss="modal">Cancel</button>
                <button href="" class="btn default-btn-red" data-dismiss="modal"
                        ng-click="approval.cancelAddLesson()">No
                </button>
                <button href="" class="btn default-btn-green" data-dismiss="modal"
                        ng-click="approval.approveAddLesson()">Yes
                </button>
            </div>
        </div>
    </div>
</div>

<!--Edit lesson modal-->
<div class="modal fade" id="editLessonModal" tabindex="-1" role="dialog" aria-labelledby="editTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editTitle"></h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-12">
                        <p>Can {{approval.coachNameToApprove}} edit lesson from his training <a
                                ui-sref="courseinfo({courseId: approval.trainingIdToApprove})">{{approval.trainingNameToApprove}}</a>?
                        </p>

                        <p>If you agree, please specify a place for the lesson.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p>Old date: </p>
                        <input type="text" class="form-control bordered-input"
                               ng-value="approval.lessonToApprove.oldDate | date: 'MMM d, y h:mm a'" disabled>
                    </div>
                    <div class="col-xs-6">
                        <p>Old place: </p>
                        <input type="text" class="form-control bordered-input"
                               ng-model="approval.lessonToApprove.oldPlace" disabled>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <p>New date: </p>
                        <input type="text" class="form-control bordered-input"
                               ng-value="approval.lessonToApprove.newDate | date: 'MMM d, y h:mm a'" disabled>
                    </div>
                    <div class="col-xs-6">
                        <p>New place: </p>
                        <input type="text" class="form-control bordered-input"
                               ng-model="approval.lessonToApprove.newPlace">
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button href="" class="btn default-btn pull-left" data-dismiss="modal">Cancel</button>
                <button href="" class="btn default-btn-red" data-dismiss="modal"
                        ng-click="approval.cancelEditLesson()">No
                </button>
                <button href="" class="btn default-btn-green" data-dismiss="modal"
                        ng-click="approval.approveEditLesson()">Yes
                </button>
            </div>
        </div>
    </div>
</div>

<!--Delete lesson modal-->
<div class="modal fade" id="deleteLessonModal" tabindex="-1" role="dialog" aria-labelledby="deleteLsnTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteLsnTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Can {{approval.coachNameToApprove}} delete this lesson from his training <a
                                ui-sref="courseinfo({courseId: approval.trainingIdToApprove})">{{approval.trainingNameToApprove}}</a>?
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p>Date: </p>
                        <input type="text" class="form-control bordered-input"
                               ng-value="approval.lessonToApprove.oldDate | date: 'MMM d, y h:mm a'" disabled>
                    </div>
                    <div class="col-xs-6">
                        <p>Place: </p>
                        <input type="text" class="form-control bordered-input"
                               ng-model="approval.lessonToApprove.oldPlace" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button href="" class="btn default-btn pull-left" data-dismiss="modal">Cancel</button>
                <button href="" class="btn default-btn-red" data-dismiss="modal"
                        ng-click="approval.cancelDeleteLesson()">No
                </button>
                <button href="" class="btn default-btn-green" data-dismiss="modal"
                        ng-click="approval.approveDeleteLesson()">Yes
                </button>
            </div>
        </div>
    </div>
</div>