<div class="approval">
	<div class="row">
		<div class="col-xs-12">

			<div class="scrollable-div">

				<div class="approve-item" ng-repeat="item in approval.approveList track by $index">
					<p><a ui-sref="profile({userId: item.coachId})">{{item.coachName}}</a>
						{{approval.makeText(item.type, item.tableName)}} <a
							ui-sref="step1({courseId: item.trainingId, type: item.type, edit: true, id: item.id})">{{item.trainingName}}</a>
					</p>
					<p class="top-mg-15">{{item.date | date: "MMM d, y h:mm a"}}</p>
					<p class="top-mg-15"><a href="" ng-click="approval.seeDetails(item)">see details</a></p>
				</div>

			</div>

		</div>
	</div>
</div>