<div class="current">
    <div class="row">
        <div class="col-xs-12 col-md-11">

            <h4 class="tab-heading">Current trainings</h4>

            <div class="scrollable-div">

                <table ng-if="profileInfo.currentCourses.length != 0" class="table fullwidth-table">
                    <thead>
                    <tr>
                        <th>Coach</th>
                        <th>Training</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="course in profileInfo.currentCourses">
                        <td>{{course.coachName}}</td>
                        <td>{{course.title}}</td>
                    </tr>
                    </tbody>
                </table>
                <p ng-if="profileInfo.currentCourses.length == 0">This user has no current trainings.</p>

            </div>

        </div>

    </div>
</div>