<div ng-class="{'waiting-for-angular': !courseinfo.isContentLoaded }" class="container-fluid courseinfo">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="row courseinfo-short">
                <h1 class="title">{{courseInfo.title}}</h1>

                <!--Uncomment when checked-->
                <!--<uib-rating ng-model="courseInfo.rating" max="5" readonly="!courseInfo.canRate"-->
                <!--aria-labelledby="default-rating" ng-click="courseinfo.setRating(value)"></uib-rating>-->

                <h3 class="short-desc">{{courseInfo.shortInfo}}</h3>

                <p class="field">Start date: <span
                        class="info">{{courseInfo.startDate | date: "MMM d, y h:mm a"}}</span>
                </p>

                <p class="field">Coach: <a ui-sref="profile({userId: courseInfo.coachId})" class="info">{{courseInfo.coachName}}</a>
                </p>

                <p class="field">Language: <span class="info">{{courseinfo.getLanguage(courseInfo.language)}}</span></p>

                <a ng-if="courseInfo.canSubscribe" href="" class="btn default-btn-blue"
                   ng-click="courseinfo.subscribe()">Subscribe</a>
                <a ng-if="!courseInfo.canSubscribe && !courseInfo.isCoach" href=""
                   class="btn default-btn-red"
                   ng-click="courseinfo.leave()">Leave</a>
            </div>

            <div class="row">
                <ul class="nav navbar-nav router-tabs">
                    <li role="presentation" ng-class="{activelink: courseinfo.isActive('timetable')}"><a
                            ui-sref="courseinfo.timetable"><i class="fa fa-clock-o"></i>Timetable</a></li>
                    <li role="presentation" ng-class="{activelink: courseinfo.isActive('participants')}"><a
                            ui-sref="courseinfo.participants"><i class="fa fa-users"></i>Participants</a></li>
                    <li role="presentation" ng-class="{activelink: courseinfo.isActive('attachments')}"><a
                            ui-sref="courseinfo.attachments"><i class="fa fa-files-o"></i>Materials</a></li>
                    <li role="presentation" ng-class="{activelink: courseinfo.isActive('comments')}"><a
                            ui-sref="courseinfo.comments"><i class="fa fa-comments-o"></i>Comments</a></li>
                </ul>
            </div>

            <div class="row">
                <div ui-view class="courseinfo-view">
                </div>
            </div>
        </div>
    </div>
</div>
