.waiting-for-angular {
  .courseinfo-short, .icon-bar {
    display: none;
  }
}

.courseinfo {
  $left-pd: 48px;
  $right-pd: 48px;

  .courseinfo-short {
    margin-bottom: 15px;

    .title {
      font-size: 36px;
    }

    .short-desc {
      margin-bottom: 24px;
    }

    .field {
      color: $black;

      .info {
        color: $text-color;
      }
    }

    .field, .info {
      margin-bottom: 8px;
    }
  }

  .edit-course, .delete-course {
    font-size: 30px;
    margin: 3px;
    margin-top: 0;
  }

  .edit-course {
    color: rgba(0,0,0,0.28);
  }

  .delete-course {
    color: #ef3e36;
  }

  .delete-course:hover {
    color: #a1161b;
  }


  .courseinfo-view {
    padding-top: 25px;
  }
}