<!--<div class="settings">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<a class="btn default-btn top-mg-25 bottom-mg-25" data-toggle="modal" data-target="#passwordModal"><i-->
                    <!--class="fa fa-unlock-alt"></i>Change password</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<!--<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span-->
                        <!--aria-hidden="true">&times;</span></button>-->
                <!--<h4 class="modal-title" id="passwordTitle">Change password</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 col-sm-6">-->
                        <!--<label>New password</label>-->
                        <!--<input type='text' ng-model="settings.newPassword">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button href="" class="btn default-btn pull-right" data-dismiss="modal">Cancel</button>-->
                <!--<button href="" class="btn default-btn-blue pull-right" data-dismiss="modal"-->
                        <!--ng-click="settings.changePassword()">OK-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->