<div class="step1">

    <div class="row">

        <div class="small-10 small-offset-1 column">

            <div class="row">
                <div class="small-12 column">
                    <label>Title
                        <input type="text" name="title" placeholder="title" ng-model="courseInfo.title" ng-maxlength="50" required>
                    </label>
                    <small ng-show="courseForm.title.$invalid && courseForm.title.$touched" class="error">This field is required.</small>
                </div>
            </div>

            <div class="row">
                <div class="small-12 column">
                    <label>Short description
                        <textarea type="text" name="shortInfo" placeholder="short description" ng-model="courseInfo.shortInfo" ng-maxlength="255" required></textarea>
                    </label>
                    <small ng-show="courseForm.shortInfo.$invalid && courseForm.shortInfo.$touched" class="error">This field is required.</small>
                </div>
            </div>

            <!--CHANGE THIS-->
            <div ng-show="managecourse.isAdmin()">
                <a href="" data-dropdown="coachDropdown" data-options="is_hover:true; hover_timeout:500">Choose existing coach</a>

                <ul id="coachDropdown" class="f-dropdown" data-dropdown-content>
                    <li><a href="" ng-click="step1.setMyselfAsCoach()">me</a></li>
                    <li ng-repeat="coach in step1.exCoachList track by $index">
                        <a href="" ng-click="step1.setExCoach($index)">{{coach.username}}</a>
                    </li>
                </ul>

            </div>
            <a class="button round tiny default-btn-blue" data-reveal-id="addExCoachModal"><i class="fa fa-plus"></i>Add external coach</a>
        </div>
        <div class="small-1 column"><a ui-sref="step2">Next</a></div>

    </div>

</div>

<!--Modal to add external coach-->
<div class="tre-modal">
    <div id="addExCoachModal" class="reveal-modal tiny" data-reveal aria-labelledby="exCoachTitle"
         aria-hidden="true"
         role="dialog">
        <h2 id="exCoachTitle">Add external coach</h2>

        <form name="coachForm" novalidate>

            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>First Name:</label>
                    <input type='text' name="firstName" ng-model="step1.coachInfo.firstName" required>
                    <small ng-show="coachForm.firstName.$invalid && coachForm.firstName.$touched" class="error">This
                        field is required.
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>Last Name:</label>
                    <input type='text' name="lastName" ng-model="step1.coachInfo.lastName" required>
                    <small ng-show="coachForm.lastName.$invalid && coachForm.lastName.$touched" class="error">This
                        field is required.
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>Email:</label>
                    <input type='email' name="email" ng-model="step1.coachInfo.email" required>
                    <small ng-show="coachForm.email.$invalid && coachForm.email.$touched" class="error">This
                        field is required.
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>Phone number:</label>
                    <input type='text' ng-model="step1.coachInfo.phone">
                </div>
            </div>

            <div class="row">
                <a href="" class="right button round tiny default-btn-blue" close-modal="addExCoachModal" ng-disabled="coachForm.$invalid"
                   ng-click="step1.addExCoach()">OK</a>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>