<div class="step1">

    <div class="row">

        <div class="small-10 small-offset-1 column">

            <div class="row">
                <div class="small-12 column">
                    <label>Title
                        <input type="text" placeholder="title" ng-model="courseInfo.title">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 column">
                    <label>Short description
                        <input type="text" placeholder="short description" ng-model="courseInfo.shortInfo">
                    </label>
                </div>
            </div>

            <!--&lt;!&ndash;CHANGE THIS&ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="small-12 column">-->
                    <!--<label>Coach-->
                        <!--<input type="text" placeholder="coach" ng-model="courseInfo.coach">-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="small-1 column"><a ui-sref="step2">Next</a></div>

    </div>


</div>