<div class="approval">
	<div class="row">
		<div class="small-12 medium-8 large-8 column">

			<div class="scrollable-div">

				<div ng-repeat="item in approval.approveList track by $index">
					<p><a ui-sref="profile({userId: item.coachId})">{{item.coachName}}</a>
						{{approval.makeText(item.type, item.tableName)}} <a
							ui-sref="step1({courseId: item.trainingId, type: item.type, edit: true, id: item.id})">{{item.trainingName}}</a>
					</p>
					<span class="right">{{item.date | date: "MMM d, y h:mm a"}}</span>
					<span>see details</span>
				</div>

				<!--<table class="fullwidth-table">-->
				<!--<thead>-->
				<!--<tr>-->
				<!--<th>Who</th>-->
				<!--<th>What</th>-->
				<!--<th>When</th>-->
				<!--<th></th>-->
				<!--</tr>-->
				<!--</thead>-->
				<!--<tbody>-->
				<!--<tr ng-repeat="item in approval.approveList">-->
				<!--<td>{{item.coachName}}</td>-->
				<!--<td>{{approval.makeText(item.type, item.tableName)}} {{item.trainingName}}</td>-->
				<!--<td>{{item.date | date: "MMM d, y h:mm a"}}</td>-->
				<!--<td><a ui-sref="step1({courseId: item.trainingId, type: item.type, edit: true, id: item.id})">See details</a></td>-->
				<!--</tr>-->
				<!--</tbody>-->
				<!--</table>-->

			</div>

		</div>
	</div>
</div>