<div class="participants">
    <div class="row">
        <div class="small-12 medium-8 large-8 column">

            <h5>Participants</h5>
            <a class="button round tiny default-btn-blue" data-reveal-id="addParticipantModal"><i class="fa fa-plus"></i>Add participant</a>

            <div class="scrollable-div">

                <table class="fullwidth-table">
                    <!--ng-show="courseInfo.participantsList.length != 0"-->
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="participant in courseInfo.participantsList track by $index" class="rowWithSecret">
                    <!--<tr ng-repeat="i in [1, 2] track by $index" class="rowWithSecret">-->
                        <td>{{$index + 1}}</td>
                        <td>{{participant.username}}</td>
                        <td>{{participant.email}}</td>
                        <td><a data-reveal-id="addFeedbackModal" ng-click="participants.getUserId($index)">Leave feedback</a></td>
                        <td class="hiddenCell" ng-click="participants.deleteParticipant($index)"><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
                <p ng-show="courseInfo.participantsList.length == 0">Nobody subscribed yet</p>
            </div>

        </div>
    </div>
</div>

<!--Modal to add external user-->
<div class="tre-modal">
    <div id="addParticipantModal" class="reveal-modal tiny" data-reveal aria-labelledby="participantTitle"
         aria-hidden="true"
         role="dialog">
        <h2 id="participantTitle">Add participant</h2>

        <form name="participantForm" novalidate>

            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>First Name:</label>
                    <input type='text' name="firstName" ng-model="participants.participantInfo.firstName" required>
                    <small ng-show="participantForm.firstName.$invalid && participantForm.firstName.$touched" class="error">This
                        field is required.
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>Last Name:</label>
                    <input type='text' name="lastName" ng-model="participants.participantInfo.lastName" required>
                    <small ng-show="participantForm.lastName.$invalid && participantForm.lastName.$touched" class="error">This
                        field is required.
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>Email:</label>
                    <input type='email' name="email" ng-model="participants.participantInfo.email" required>
                    <small ng-show="participantForm.email.$invalid && participantForm.email.$touched" class="error">This
                        field is required.
                    </small>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>Phone number:</label>
                    <input type='text' ng-model="participants.participantInfo.phone">
                </div>
            </div>

            <div class="row">
                <a href="" class="right button round tiny default-btn-blue" close-modal="addParticipantModal" ng-disabled="participantForm.$invalid"
                   ng-click="participants.addParticipant()">OK</a>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>

<!--Modal to add feedback-->
<div class="tre-modal">
    <div id="addFeedbackModal" class="reveal-modal medium" data-reveal aria-labelledby="feedbackTitle"
         aria-hidden="true"
         role="dialog">
        <h2 id="feedbackTitle">Leave feedback</h2>

        <form name="feedbackForm" novalidate>

            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <input type="checkbox" id="attendance" ng-model="participants.fbInfo.attendance"><label for="attendance">Was
                    it interesting?</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <input type="checkbox" id="attitude" ng-model="participants.fbInfo.attitude"><label for="attitude">Was it
                    clear?</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <input type="checkbox" id="commSkills" ng-model="participants.fbInfo.commSkills"><label for="commSkills">Did
                    you learn something new?</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <input type="checkbox" id="questions" ng-model="participants.fbInfo.questions"><label for="questions">Was the coach creative?</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <input type="checkbox" id="motivation" ng-model="participants.fbInfo.motivation"><label for="motivation">Would you recommend this course?</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <input type="checkbox" id="focusOnResult" ng-model="participants.fbInfo.focusOnResult"><label for=focusOnResult>Would you recommend this course?</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 no-left-padding column">
                    <label>Anything else?
                        <textarea type="text" name="other" placeholder="Do you have something else to say?" ng-model="participants.fbInfo.other" ng-maxlength="10000"></textarea>
                    </label>
                </div>
            </div>

            <div class="row">
                <a href="" class="right button round tiny default-btn-blue" close-modal="addFeedbackModal"
                   ng-click="participants.addFeedbackOnUser()">OK</a>
            </div>
        </form>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
</div>

