<div class="participants">
    <div class="row">
        <div class="small-12 medium-8 large-8 column">

            <h5>Participants</h5>
            <a class="button round tiny default-btn-blue" data-reveal-id="addParticipantModal">Add participant</a>

            <div class="scrollable-div">

                <table class="fullwidth-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]">
                        <td>No</td>
                        <td>John Doe</td>
                        <td>jdoe@somemail.com</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>

<div id="addParticipantModal" class="reveal-modal tiny" data-reveal aria-labelledby="participantTitle" aria-hidden="true"
     role="dialog">
    <h2 id="participantTitle">Add participant</h2>

    <div class="row">
        <div class="small-12 medium-6 column">
            <label>First Name:</label>
            <input type='text' ng-model="participants.participantInfo.firstName">
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 column">
            <label>Last Name:</label>
            <input type='text' ng-model="participants.participantInfo.lastName">
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 column">
            <label>Email:</label>
            <input type='email' ng-model="participants.participantInfo.email">
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 column">
            <label>Phone number:</label>
            <input type='phone' ng-model="participants.participantInfo.phoneNumber">
        </div>
    </div>

    <div class="row">
        <a href="#" class="right button round tiny default-btn-blue" close-modal="addParticipantModal" ng-click="participants.addParticipant()">OK</a>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>