.hey-clas {
  position: absolute;
}

.hey-hey-class {
  position: absolute;
}

.navbar {
  border-bottom: solid 1px $border-gray;
}

nav {

  .activelink {
    border-bottom: solid 2px black;
  }

  #searchModal:after {
    content: "";
    display: block;
    position: fixed; /* could also be absolute */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }
}

.full-modal {
  background-size: 100% 100% !important;
  background-repeat: no-repeat !important;
  height: 100% !important;
}

div#searchModal {
  top: 0 !important;
}