<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a ui-sref="mycourses">My Site</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

        <!-- Left Nav Section -->
        <ul class="left">
            <li><a ui-sref="mycourses">My Courses</a></li>
            <li><a ui-sref="browse">Browse</a></li>
            <li><a ui-sref="profile({userId: navbar.id})">Profile</a></li>
            <li ng-if="navbar.isAdmin"><a ui-sref="admin">Admin</a></li>
        </ul>

        <!-- Right Nav Section -->
        <ul class="right">
            <li class=""><a href="#"><i class="fa fa-search"></i></a></li>
            <li class=""><a href="#"><i class="fa fa-globe"></i></a></li>
            <li class="has-dropdown">
                <a href="#"><i class="fa fa-user"></i></a>
                <ul class="dropdown">
                    <li><label>{{navbar.username}}</label></li>
                    <li><a ui-sref="profile({userId: navbar.id})">Profile</a></li>
                    <li><a href="#" ng-click="navbar.logout()">Logout</a></li>
                </ul>
            </li>
        </ul>


    </section>

</nav>

<div id="searchModal" class="reveal-modal tiny" data-reveal aria-labelledby="searchTitle" aria-hidden="true"
     role="dialog">
    <h2 id="searchTitle">Search</h2>

    <div class="row">
        <input type="text" ng-model="searchQuery" ng-change="search()" ng-model-options="{debounce: { 'default': 250} }" placeholder="Search...">
    </div>

    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>