.managecourse {

  .managecourse-h1 {
    font-size: 48px;
    color: #4C4C4C;
    font-weight: 500;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 0 !important;
    line-height: 58px;
  }

}