.managecourse {

  $left-pd: 48px;
  $right-pd: 48px;

  .managecourse-h1 {
    font-size: 48px;
    color: #4C4C4C;
    font-weight: 500;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 0 !important;
    line-height: 58px;
  }

  .managecourse-short {
    margin-bottom: 32px;

    .title {
      margin-bottom: 28px;
    }

    .short-desc {
      margin-bottom: 24px;
    }

    .field {
      color: $black;

      .info {
        color: $text-color;
      }
    }

    .field, .info {
      margin-bottom: 8px;
    }
  }

  #description, #shortInfo {
    width: 100%;
  }

}

.managecourse-view {
  padding-top: 25px;
}