.managecourse {

  $left-pd: 48px;
  $right-pd: 48px;

  .badge {
    vertical-align: top !important;
  }

  /* HELPER TOOLTIPS */
  .material-input + .tooltip > .tooltip-inner {
    color: $text-color;
    background-color: #E7E7E7;
  }
  .material-input + .tooltip > .tooltip-arrow {
    border-top-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }

  /* INVALID TOOLTIPS */
  .invalid-form + .tooltip > .tooltip-inner {
    color: white;
    background-color: #ff2631;
  }
  .invalid-form + .tooltip > .tooltip-arrow {
    border-top-color: #ff2631;
    border-bottom-color: #ff2631;
  }

  .no-arrow + .tooltip > .tooltip-arrow {
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  .managecourse-h1 {
    font-size: 48px;
    color: #4C4C4C;
    font-weight: 500;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 0 !important;
    line-height: 58px;
  }

  .managecourse-short {
    margin-bottom: 32px;

    .title {
      margin-bottom: 28px;
    }

    .short-desc {
      margin-bottom: 24px;
    }

    .field {
      color: $black;

      .info {
        color: $text-color;
      }
    }

    .field, .info {
      margin-bottom: 8px;
    }
  }

  #description, #shortInfo {
    padding-top: 0 !important;
    padding-left: 0 !important;
    width: 90%;
  }

}

.managecourse-view {
  padding-top: 25px;
}