<div class="container-fluid managecourse">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="row managecourse-short">
                <h1 class="title"><input class="material-input" type="text" name="title"
                                         placeholder="Enter course name"
                                         ng-model="courseInfo.title" ng-disabled="isEdited" ng-maxlength="50" required></h1>

                <div ng-if="managecourse.isAdmin()">
                    <span class="pull-left">Coach: </span>

                    <div class="dropdown pull-left">
                        <p class="dropdown-toggle" type="button" id="coachPopover"
                           popover-placement="bottom" popover-trigger="click"
                           uib-popover-template="'app/page.managecourse/managecourse.popovers/coachPopover.html'">
                            <a href="" ng-if="!courseInfo.coachId">select</a>
                            <a href="" ng-if="courseInfo.coachId">{{managecourse.coachName}}</a>
                        </p>
                    </div>
                </div>

                <p class="field">Language: <span class="info">{{courseinfo.getLanguage(courseInfo.language)}}</span></p>

            </div>

            <div class="row">
                <ul class="nav navbar-nav router-tabs">
                    <li role="presentation" ng-class="{activelink: managecourse.isActive('timetable')}"><a
                            ui-sref="managecourse.timetable"><i class="fa fa-clock-o"></i>Timetable</a></li>
                    <li role="presentation" ng-class="{activelink: managecourse.isActive('attachments')}"><a
                            ui-sref="managecourse.attachments"><i class="fa fa-files-o"></i>Materials</a></li>
                </ul>
            </div>

            <div class="row">
                <form name="courseForm">
                    <div ui-view class="managecourse-view">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--<div class="container-fluid managecourse">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-6 col-sm-offset-3">-->
<!--<div class="row">-->
<!--<h1>.....</h1>-->
<!--</div>-->
<!--<div class="row">-->
<!--<a ng-if="!isEdited" href="" class="btn default-btn-blue pull-left"-->
<!--ng-click="managecourse.createCourse()">Create-->
<!--course</a>-->
<!--<a ng-if="managecourse.isAdmin() && isEdited" href="" class="btn default-btn-green pull-left"-->
<!--ng-disabled="courseForm.$invalid"-->
<!--ng-click="managecourse.approveCourse()">Approve course</a>-->
<!--</div>-->

<!--<form name="courseForm">-->
<!--<div ui-view></div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--Modal to add external coach-->
<div class="modal fade" id="addExCoachModal" tabindex="-1" role="dialog" aria-labelledby="coachTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="coachTitle">Add external coach</h4>
            </div>
            <div class="modal-body">
                <form name="coachForm" novalidate>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-left-padding">
                            <label>First Name:</label>
                            <input type='text' name="firstName" ng-model="managecourse.exCoachInfo.firstName" required>
                            <small ng-show="coachForm.firstName.$invalid && coachForm.firstName.$touched" class="error">This
                                field is required.
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-left-padding">
                            <label>Last Name:</label>
                            <input type='text' name="lastName" ng-model="managecourse.exCoachInfo.lastName" required>
                            <small ng-show="coachForm.lastName.$invalid && coachForm.lastName.$touched" class="error">This
                                field is required.
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-left-padding">
                            <label>Email:</label>
                            <input type='email' name="email" ng-model="managecourse.exCoachInfo.email" required>
                            <small ng-show="coachForm.email.$invalid && coachForm.email.$touched" class="error">This
                                field is required.
                            </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 no-left-padding">
                            <label>Phone number:</label>
                            <input type='text' ng-model="managecourse.exCoachInfo.phone">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button href="" class="btn default-btn" data-dismiss="modal">Cancel</button>
                <button href="" class="btn default-btn-blue" data-dismiss="modal" ng-disabled="coachForm.$invalid"
                        ng-click="managecourse.addExCoach()">OK
                </button>
            </div>
        </div>
    </div>
</div>