<div class="attended">
    <div ng-class="{'waiting-for-angular': !attendedcourses.isContentLoaded }">
        <div class="row">
            <div class="col-xs-12 col-md-11">
                <div class="attended-courses">
                    <h4 class="tab-heading">Attended trainings</h4>

                    <div class="scrollable-div">

                        <table ng-if="profileInfo.pastCourses.length != 0" class="table fullwidth-table">
                            <thead>
                            <tr>
                                <th>Coach</th>
                                <th>Training</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="course in profileInfo.pastCourses">
                                <td>{{course.coachName}}</td>
                                <td>{{course.title}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p ng-if="profileInfo.pastCourses.length == 0">This user hasn't attended any trainings.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


