<div class="nested-view manual-tab">

    <h3>Add a date</h3>

    <div class="row">

        <div class="small-12 medium-8 large-8 column">

            <div class="row collapse">

                <div class="small-4 column">
                    <label>Date</label>
                        <input type='text' name="manualdate" ng-model="step4.dateTime.date" tre-datepicker="">
                </div>
                <div class="small-2 small-offset-1 column">
                    <label>Hour</label>
                        <input type='number' name="manualhours" ng-model="step4.dateTime.hours">

                </div>
                <div class="small-2 small-offset-1 column">
                    <label>Minutes</label>
                        <input type='number' name="manualminutes" id="minutes" ng-model="step4.dateTime.minutes">
                </div>
                <div class="small-2 column">
                    <label>.</label>
                    <a href="" class="button round tiny default-btn-blue" ng-click="step4.addDate()">Add date</a>
                </div>

            </div>

            <div class="row">
                <div class="scrollable-div">
                    <table>
                        <tr ng-repeat="lesson in courseInfo.lessonList track by $index">
                            <td>{{lesson.date |  date: "MMM d, y h:mm a"}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>



</div>

