@mixin card-transition($ms) {
  -webkit-transition: all $ms;
  -moz-transition: all $ms;
  transition: all $ms;
}

@mixin box-shadow($bshadow1, $bshadow2) {
  -webkit-box-shadow: $bshadow1, $bshadow2;
  box-shadow: $bshadow1, $bshadow2;
}

@mixin transform($transformY) {
  -webkit-transform: translateY($transformY);
  -moz-transform: translateY($transformY);
  transform: translateY($transformY);
}

$light-border-color: rgba(0, 0, 0, 0.12);
$dark-border-color: rgba(0, 0, 0, 0.40);

.waiting-for-angular {
  .row {
    display: none;
  }
}

.mycourses {

  .card {

    .card-bg {
      padding-top: 10px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 15px;

      margin-bottom: 15px;
      height: 450px;

      overflow: hidden;

      /*HEIGHT*/
      @media screen and (max-width: 280px) {
        height: auto;
      }

      @media screen and(max-width: 768px) and (min-width: 400px) {
        height: 280px;
      }

      @media screen and (max-width: 400px) and (min-width: 280px) {
        height: 350px;
      }

      @media screen and (max-width: 900px) and (min-width: 820px) {
        height: 380px;
      }

      @media screen and (max-width: 1500px) and (min-width: 900px) {
        height: 340px;
      }

      @media screen and (min-width: 1500px) {
        height: 320px;
      }

      cursor: pointer;
      @include card-transition(250ms);
      @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));

      .course-title {
        a {
          color: $black;
        }
      }

      .course-excerpt {
        margin-top: 20px;
        margin-bottom: 30px;
      }

      .info {
        margin-bottom: 0;
      }

      .fa {
        color: black;
      }
    }

    .card-bg:hover {
      @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23));
      @include transform(-5px);

      .course-title {
        a {
          color: black;
        }
      }
    }
  }
}

.tools-header {
  margin: 0;
  height: 58px;
  padding-bottom: 16px;

  .form-control{
    border: 1px solid #ccc !important;
  }

  .localSearchForm {
    height: 40px;
    border-radius: 20px;
  }
    .segmented-picker{
        width: 288px;
        margin: auto;
    }
    .segmented-button{
        padding-top: 0;
        padding-bottom: 0;
        width: 96px;
        height: 40px;
        line-height: 38px;
    }
}