<div class="container" ng-class="{'waiting-for-angular': !mycourses.isContentLoaded }">
    <div class="row">
        <div class="mycourses">
            <div class="row tools-header hidden-xs">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="segmented-picker">
                        <div class="btn-group segmente">
                            <label class="btn btn-default segmented-button segmented-button-left" ng-model="mycourses.filter.isCoach" uib-btn-radio="''">All</label>
                            <label class="btn btn-default segmented-button" ng-model="mycourses.filter.isCoach" uib-btn-radio="false">Student</label>
                            <label class="btn btn-default segmented-button segmented-button-right" ng-model="mycourses.filter.isCoach" uib-btn-radio="true">Coach</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <form name="localSearch">
                        <input type="text" class="form-control localSearchForm" name="search" ng-model="mycourses.filter.title" placeholder="Quick Look">
                    </form>
                </div>
            </div>

            <section class="row top-mg-25">
                <!--No Courses-->
                <div style="margin-top:20%;" ng-if="filteredCourses.length == 0 && !mycourses.filter.isCoach && !mycourses.filter.title">
                    <p class="text-center" >There is no courses you're attending</p>
                    <button ui-sref="browse" class="btn accent-btn-blue center-block">Choose One</button>
                </div>
                
                <!--No Courses-->
                <div style="margin-top:20%;" ng-if="filteredCourses.length == 0 && mycourses.filter.isCoach && !mycourses.filter.title">
                    <p class="text-center" >Wooow, You're still not coaching?</p>
                    <button ui-sref="managecourse({type: 'CREATE'})" class="btn accent-btn-blue center-block">Become Coach</button>
                </div>
                
                <!--Filter returns 0-->
                <div style="margin-top:20%;" ng-if="filteredCourses.length == 0 && mycourses.filter.title">
                    <p class="text-center" >Wooow, Adjust Your Search Query</p>
                    <button ng-click=(mycourses.clearSearch()) class="btn accent-btn-blue center-block">Clear Search</button>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-4 card" ng-repeat="course in filteredCourses = (mycourses.userCourses | filter:{ title: mycourses.filter.title} | filter: {isCoach: mycourses.filter.isCoach})">
                   
                   
                    <div class="card-bg" ui-sref="courseinfo({courseId: course.id})">
                        <h1 class="course-title"><a ui-sref="courseinfo({courseId: course.id})">{{course.title}}</a>
							</h1>

                        <!-- it is not returned -->
                        <!--<h2 class="course-lesson-number">Lesson #{{course.nextLesson}}</h2>-->

                        <p class="course-excerpt">{{course.excerpt}}</p>

                        <p>Coach: <a ng-if="!course.isCoach" ui-sref="profile({userId: course.coachId})" class="value">{{course.coachName}}</a>
                            <a ng-if="course.isCoach" class="value">me</a></p>

                        <p class="info"><i class="fa fa-clock-o"></i> <span class="value">{{course.nextDate | date: "MMM d, y h:mm a"}}</span>
                        </p>

                        <p class="info" style="margin-left:2px;"><i class="fa fa-map-marker"></i> <span class="value" style="margin-left:3px;">{{course.nextPlace}}</span></p>


                    </div>
                </div>

            </section>
        </div>

    </div>

</div>