<div class="feedbacks">
    <div class="row">
        <div class="col-xs-12 col-md-11">

            <h4 class="tab-heading">Feedbacks</h4>

            <!--First need to get training list-->
            <!--<a class="btn default-btn-blue" data-toggle="modal" data-target="#addFeedbackModal">Leave feedback</a>-->

            <div class="scrollable-div">

                <table ng-if="profileInfo.feedbacks.length != 0" class="table fullwidth-table">
                    <thead>
                    <tr>
                        <th>Who left</th>
                        <th>Positive?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="fb in profileInfo.feedbacks track by $index">
                        <td><a ui-sref="profile({userId: fb.coachID})">{{fb.coachName}}</a></td>
                        <td>{{fb.isPositive==true ? '+' : '-'}}</td>
                        <td><a href="" data-toggle="modal" data-target="#seeFeedbackModal" ng-click="feedbacks.seeFeedback($index)">See details</a></td>
                    </tr>
                    </tbody>
                </table>
                <p ng-if="profileInfo.feedbacks.length == 0">No feedbacks left yet.</p>
            </div>

        </div>

    </div>
</div>

<!--Modal to add feedback-->
<div class="modal fade" id="addFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="fbTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="fbTitle">Add feedback</h4>
            </div>
            <div class="modal-body">
                <form name="feedbackForm" novalidate>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="attendance2" ng-model="feedbacks.fbInfo.attendance"><label for="attendance2">Did the student attend the lectures?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="attitude2" ng-model="feedbacks.fbInfo.attitude"><label for="attitude2">Was the student willing to learn?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="commSkills2" ng-model="feedbacks.fbInfo.commSkills"><label for="commSkills2">Was the student communicative?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="questions2" ng-model="feedbacks.fbInfo.questions"><label for="questions2">Was the student asking questions?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="motivation2" ng-model="feedbacks.fbInfo.motivation"><label for="motivation2">Was the student motivated?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="focusOnResult2" ng-model="feedbacks.fbInfo.focusOnResult"><label for="focusOnResult2">Was the student focused on result?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label>Anything else?
                                <textarea type="text" name="other" placeholder="Do you have something else to say?" ng-model="feedbacks.fbInfo.other" ng-maxlength="10000"></textarea>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button href="" class="btn default-btn" data-dismiss="modal">Cancel</button>
                <button href="" class="btn default-btn-blue" data-dismiss="modal"
                        ng-click="feedbacks.leaveFeedback()">OK
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="seeFeedbackModal" tabindex="-1" role="dialog" aria-labelledby="seeFbTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="#seeFbTitle"></h4>
            </div>
            <div class="modal-body">
                <form name="feedbackForm" novalidate>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="attendance" ng-model="feedbacks.fbInfo.attendance" ng-disabled><label for="attendance">Did the student attend the lectures?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="attitude" ng-model="feedbacks.fbInfo.attitude" ng-disabled><label for="attitude">Was the student willing to learn?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="commSkills" ng-model="feedbacks.fbInfo.commSkills" ng-disabled><label for="commSkills">Was the student communicative?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="questions" ng-model="feedbacks.fbInfo.questions" ng-disabled><label for="questions">Was the student asking questions?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="motivation" ng-model="feedbacks.fbInfo.motivation"><label for="motivation">Was the student motivated?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <input type="checkbox" id="focusOnResult" ng-model="feedbacks.fbInfo.focusOnResult" ng-disabled><label for=focusOnResult>Was the student focused on result?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <label>Anything else?
                                <textarea type="text" name="other" placeholder="Do you have something else to say?" ng-model="feedbacks.fbInfo.other" ng-maxlength="10000" ng-disabled></textarea>
                            </label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button href="" class="btn default-btn-blue" data-dismiss="modal" ng-click="feedbacks.clearFbInfo()">OK</button>
            </div>
        </div>
    </div>
</div>