@mixin card-transition($ms) {
  -webkit-transition: all $ms;
  -moz-transition: all $ms;
  transition: all $ms;
}

@mixin box-shadow($bshadow1, $bshadow2) {
  -webkit-box-shadow: $bshadow1, $bshadow2;
  box-shadow: $bshadow1, $bshadow2;
}

@mixin transform($transformY) {
  -webkit-transform: translateY($transformY);
  -moz-transform: translateY($transformY);
  transform: translateY($transformY);
}

.browse {
  .card {

    height: rem-calc(250);
    width: rem-calc(300);

    .card-bg {
      padding-top: rem-calc(30);
      padding-bottom: rem-calc(15);
      padding-left: rem-calc(25);
      padding-right: rem-calc(15);

      cursor: pointer;
      @include card-transition(250ms);
      @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));

      .course-title {
        color: black;
      }

      .course-excerpt {
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(30);
      }

      .info {
        margin-bottom: 0;
      }
    }

    .card-bg:hover {
      @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23));
      @include transform(-5px);
    }
  }
}