@mixin card-transition($ms) {
  -webkit-transition: all $ms;
  -moz-transition: all $ms;
  transition: all $ms;
}

@mixin box-shadow($bshadow1, $bshadow2) {
  -webkit-box-shadow: $bshadow1, $bshadow2;
  box-shadow: $bshadow1, $bshadow2;
}

@mixin transform($transformY) {
  -webkit-transform: translateY($transformY);
  -moz-transform: translateY($transformY);
  transform: translateY($transformY);
}

.waiting-for-angular {
  .card, .card-bg {
    display: none;
  }
}

.browse {

  .card {

    .card-bg {
      padding-top: 10px;
      padding-bottom: 15px;
      padding-left: 25px;
      padding-right: 15px;

      cursor: pointer;
      @include card-transition(250ms);
      @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));

      .course-title {
        a {
          color: black;
        }
      }

      .course-excerpt {
        margin-top: 20px;
        margin-bottom: 30px;
      }

      .info {
        margin-bottom: 0;
      }
    }

    .card-bg:hover {
      @include box-shadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23));
      @include transform(-5px);

      .course-title {
        a {
          color: black;
        }
      }
    }
  }
}

.tag-container {
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px !important;
  border: 1px solid rgba(0,0,0,0.08);
  background-color: rgba(0,0,0,0.015);

  .tag {
    color: rgba(0,0,0,0.6);
    background-color: rgba(255,255,255,0.8);
    border-color: rgba(0,0,0,0.10);

    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .tag:hover {
    color: rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.6);
    border-color: rgba(0,0,0,0.14);
  }

  .tags-title {
    font-family: $tre-header-font;
    font-weight: 500;
    color: rgba(0,0,0,0.7);
    letter-spacing: 1.1px;

    padding-left: 3px;
  }
}