<div class="step2">

    <div class="row">

        <div class="col-xs-1"><a ui-sref="step1">Previous</a></div>

        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <p>Description</p>
                        <textarea type="text" name="description" placeholder="title" ng-model="courseInfo.description" ng-maxlength="10000" required></textarea>
                    <small ng-show="courseForm.description.$invalid && courseForm.description.$touched" class="error">This field is required.</small>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="tag-container scrollable-div">
                        <p class="tags-title">TAGS</p>
                        <a ng-repeat="tag in step2.tagList" class="btn btn-default tag" href="" role="button" ng-class="{selected: step2.isTagSelected(tag.id)}" ng-click="step2.addTagToList(tag)">{{tag.specialty}}</a>
                    </div>
                    <div class="tag-container scrollable-div">
                        <p class="tags-title">SELECTED TAGS</p>
                        <a ng-repeat="tag in step2.selectedTags" class="btn btn-default tag" href="" role="button">{{tag.specialty}}<span class="hidden-icon" ng-click="step2.removeTag(tag)"><i class="fa fa-times"></i></span></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-1"><a ui-sref="step3">Next</a></div>

    </div>

</div>