<div class="container courseinfo">
	<div class="row">
		<div class="small-12 medium-6 medium-centered column">
			<div class="row courseinfo-short">
				<h1 class="title">{{courseInfo.title}}</h1>

				<h3 class="short-desc">{{courseInfo.shortInfo}}</h3>

				<p class="field">Start date: <span class="info">{{courseInfo.startDate | date: "MMM d, y h:mm a"}}</span>
				</p>

				<p class="field">Coach: <a ui-sref="profile({userId: courseInfo.coachId})" class="info">{{courseInfo.coachName}}</a>
				</p>

				<p class="field">Language: <span class="info">{{courseInfo.language}}</span></p>

				<a ng-if="courseinfo.canSubscribe" href="" class="right button round tiny default-btn-blue"
				   ng-click="courseinfo.subscribe()">OK</a>
			</div>

			<div class="row">

				<div class="icon-bar five-up small-horizontal large-vertical">
					<a class="item" ui-sref="courseinfo.timetable">
						<i class="fa fa-clock-o"></i>
						<label>Timetable</label>
					</a>
					<a class="item" ui-sref="courseinfo.description">
						<i class="fa fa-book"></i>
						<label>Description</label>
					</a>
					<a class="item" ui-sref="courseinfo.participants">
						<i class="fa fa-users"></i>
						<label>Participants</label>
					</a>
					<a class="item" ui-sref="courseinfo.attachments">
						<i class="fa fa-files-o"></i>
						<label>Materials</label>
					</a>
					<a class="item" ui-sref="courseinfo.comments">
						<i class="fa fa-comments-o"></i>
						<label>Comments</label>
					</a>
				</div>

				<div ui-view>
				</div>

			</div>
		</div>
	</div>
</div>
